* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/







/*UTILITY*/

:root {
    --colorPrimary: #0084fd;
    --colorPrimary2: #b5ddff;
    --colorSecondary: #9792e4;
    --colorSecondary2: #aea3ff;
}

.container {
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.box {
    background-color: var(--colorPrimary2);
    min-height: 80px;
}
.box2 {
    padding: 10px;
    background-color: var(--colorSecondary2);
    min-height: 80px;
}





/*CSS*/

.header-site {
    background-color: var(--colorPrimary);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white;
}
header .box {
    padding: 10px;
}
 main {
    padding-top: 120px;
 }
 #intro .card {
    padding: 10px;
 }

 #planning {
    background-color: var(--colorSecondary);
 }
 #planning .container {
    margin: 40px auto;
    padding: 30px 0;
 }
 #testimonial .card {
    background-color: var(--colorSecondary);
 }





/*RESPONSIVE*/

/*TABLET*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    
    #intro .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    #intro .card {
        width: calc(100% / 3);
    }
    #intro .card:first-child {
        width: calc((100% / 3) * 2);
    }
    #testimonial .card {
        display: flex;
    }
    #testimonial .col-sx {
        width: 30%;
    }
    #testimonial .col-dx {
        width: 70%;
    }
    
}



 /*DESKTOP*/

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    #intro .card:first-child {
        width: calc((100% / 3) * 2);
        display: flex;
        justify-content: space-between;
    }
    #intro .card-sx {
        width: 30%;
    }
    #intro .card-dx {
        width: 70%;
    }
    #planning .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #planning .card-sx, #planning .card-dx {
        width: 40%;
    }
}
    
