* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/







/*UTILITY*/

:root {
    --colorPrimary: #0084fd;
    --colorPrimary2: #b5ddff;
    --colorSecondary: #9792e4;
    --colorSecondary2: #aea3ff;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 40px auto;
    padding: 30px 20px;
}

.box {
    background-color: var(--colorPrimary2);
    min-height: 150px;
    padding: 10px;
}
.box2 {
    padding: 10px;
    background-color: var(--colorSecondary2);
    min-height: 150px;
}

.b-radius { border-radius: 50%; }

/*TEXT*/
.t-white { color: white; }
.t-black { color: black; }
.t-violet { color: var(--colorSecondary); } 

/*FLEX*/
.d-flex { display: flex; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }

/*BOTTTONI*/
.btn { 
    padding: 8px 10px;
    border-radius: 50px;
    text-decoration: none;
}
.btn-big { padding: 5px 40px; }
.btn-white { background-color: white; }
.btn-blue { background-color: var(--colorPrimary); }
.btn-violet { background-color: var(--colorSecondary); }




/*CSS*/

.header-site {
    background-color: var(--colorPrimary);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white;
}
.container-header {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0 20px;
}

.logo {
    height: 80px;
    line-height: 93px;
    padding: 10px;
}
.hamburger {
    font-size: 2rem;
}
.header-site ul {
    list-style: none;
}
.header-site ul li {
    margin-left: 2rem;
}
.header-site ul a {
    text-decoration: none;
    color: white;
}
.header-site ul li:last-child a {
    color: black;
}
nav {
    display: none;
}



 main {
    padding-top: 120px;
 }
 #intro .card {
    padding: 10px;
 }

 #planning, #benefit, #started {
    background-color: var(--colorSecondary);
 }

 #testimonial .card {
    background-color: var(--colorSecondary);
 }

 footer {
    background-color: black;
    color: white;
 }
 

/*RESPONSIVE*/

/*TABLET*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    .container-header {
        max-width: 740px;
    }
    
    #intro .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    #intro .card {
        width: calc(100% / 3);
    }
    #intro .card:first-child {
        width: calc((100% / 3) * 2);
    }
    #testimonial .card {
        display: flex;
    }
    #testimonial .col-sx {
        width: 30%;
    }
    #testimonial .col-dx {
        width: 70%;
    }
    #testimonial .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    #benefit .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    #benefit .card {
        width: calc(100% / 2);
    }
    #about-us .container {
        display: flex;
    }
    #about-us .col-sx {
        width: 60%;
    }
    #about-us .col-dx {
        width: 40%;
    }
    #started .container, footer .container {
        width: 80%;
    }
    
    
}



 /*DESKTOP*/

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .container-header {
        max-width: 960px;
    }
    
    #intro .card:first-child {
        width: calc((100% / 3) * 2);
        display: flex;
        justify-content: space-between;
    }
    #intro .card-sx {
        width: 30%;
    }
    #intro .card-dx {
        width: 70%;
    }
    #planning .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #planning .card-sx, #planning .card-dx {
        width: 40%;
    }
    #benefit .card {
        width: calc(100% / 3);
    }
    #started .container, footer .container {
        max-width: 500px;
    }
    .hamburger {
        display: none;
    }
    nav {
        display: block;
    }
}
    
