* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/







/*UTILITY*/

:root {
    --colorPrimary: #0084fd;
    --colorPrimary2: #b5ddff;
    --colorSecondary: #9792e4;
    --colorSecondary2: #aea3ff;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 40px auto;
    padding: 30px 20px;
}

.box {
    background-color: var(--colorPrimary2);
    min-height: 150px;
    padding: 10px;
}
.box2 {
    padding: 10px;
    background-color: var(--colorSecondary2);
    min-height: 150px;
}

.b-radius-50 { border-radius: 50%; }
.b-radius-20 { border-radius: 20px; }

/*TEXT*/
.t-white { color: white; }
.t-black { color: black; }
.t-violet { color: var(--colorSecondary); } 
.t-gray { color: #303b45; }
.t-blue { color: var(--colorPrimary); }

.t-center { text-align: center; }
.t-left { text-align: left; }

/*FLEX*/
.d-flex { display: flex; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }

/*BOTTTONI*/
.btn { 
    padding: 8px 10px;
    border-radius: 50px;
    text-decoration: none;
}
.btn.btn-big { padding: 10px 50px; }
.btn-white { background-color: white; }
.btn-blue { background-color: var(--colorPrimary); }
.btn-violet { background-color: var(--colorSecondary); }




/*CSS*/

.header-site {
    background-color: var(--colorPrimary);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white;
}
.container-header {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0 20px;
}

.logo {
    height: 80px;
    line-height: 93px;
    padding: 10px;
}
.hamburger {
    font-size: 2rem;
}
.header-site ul {
    list-style: none;
}
.header-site ul li {
    margin-left: 2rem;
}
.header-site ul a {
    text-decoration: none;
    color: white;
}
.header-site ul li:last-child a {
    color: black;
}
nav {
    display: none;
}
 main {
    padding-top: 120px;
 }
 section {
    scroll-margin-top: 80px;
 }

 /*intro*/
 #intro .card {
    padding: 1rem;
    margin: 1rem;
    line-height: 2rem
 }
 .card h3 {
    padding: 1rem 0;
 }
 .card-sx p {
    padding: 2rem 0 0;
}
#big-card img {
    width: 70%;
    padding: 0;
    display: block;
    margin: auto;
}
#intro .card:first-child {
    padding: 0;
}
#intro .card-sx {
    padding: 2rem;
}
#big-card span {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
#intro .icon i {
    font-size: 100px;
}
#intro .small-card {
    padding: 2rem;
}

/*planning*/

#planning {
    padding: 2rem 0;
 }
#planning .card {
    line-height: 2rem;
    padding: 1rem;
}
#planning img {
    width: 80%;
}
#planning .card-sx img {
    padding-bottom: 5rem;
}
#planning .card-sx h3 {
    font-size: 2rem;
}
#planning .card-dx {
    border-radius: 30px;
}
#planning .card-dx h3 {
    font-size: 1.5rem;
}
#planning .arrow {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 30px;
    display: inline-block;
    background-color: var(--colorSecondary);
    margin: 2rem;
    padding: 5px;
}
 /*testimonials*/
 #testimonial .card {
    margin: 2rem 0;
 }
 #testimonial .intro-text {
    padding: 3rem;
 }
 #testimonial .intro-text h2 {
    font-size: 3rem;
    padding: 2.5rem 0;
 }
 #testimonial .intro-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
 }
 #testimonial img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px;
 }
 #testimonial .icon {
    font-size: 2rem;
 }
 #testimonial .text {
    line-height: 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
 }
 #testimonial .name {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: 700;
}








 #planning, #benefit, #started {
    background-color: var(--colorSecondary);
 }

 #testimonial .card {
    background-color: var(--colorSecondary);
 }

 footer {
    background-color: black;
    color: white;
 }
 

/*RESPONSIVE*/

/*TABLET*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    .container-header {
        max-width: 740px;
    }
    
    #intro .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    #intro .card {
        width: calc((100% / 3) - 2rem);
    }
    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 2rem);
    }
    #big-card .card-sx {
        margin-bottom: 1rem;
    }
    #big-card img {
        margin: 0;
        padding: 0 2rem;
    }
    #intro .small-card {
        padding: 2rem 0.5rem;
    }
    #planning .card-sx h3 {
        font-size: 2.5rem;
    }
    #testimonial .card {
        display: flex;
    }
    #testimonial .col-sx {
        width: 20%;
    }
    #testimonial .col-dx {
        width: 80%;
    }
    #testimonial .text {
        padding: 2rem 1rem 2rem 0;
        text-align: left;
    }
    #testimonial .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    #benefit .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    #benefit .card {
        width: calc(100% / 2);
    }
    #about-us .container {
        display: flex;
    }
    #about-us .col-sx {
        width: 60%;
    }
    #about-us .col-dx {
        width: 40%;
    }
    #started .container, footer .container {
        width: 80%;
    }
    
    
}



 /*DESKTOP*/

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .container-header {
        max-width: 960px;
    }
    
    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 2rem);
        display: flex;
        justify-content: space-between;
    }
    #intro .card-sx {
        width: 50%;
    }
    #intro .card-dx {
        width: 50%;
    }
    #big-card img {
        width: 50%;
        height: 80%;
        align-self: flex-end;
    }
    #big-card span {
        font-size: 1rem;
    }
    #planning .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;
    }
    #planning .card-sx, #planning .card-dx {
        width: 40%;
    }
    #planning .card-sx h3 {
        font-size: 1.5rem;
    }
    #planning .card {
        padding: 1rem 1rem 0;
    }
    #planning .card-sx img {
        width: 100%;
    }
    #benefit .card {
        width: calc(100% / 3);
    }
    #started .container, footer .container {
        max-width: 500px;
    }
    .hamburger {
        display: none;
    }
    nav {
        display: block;
    }
}
    
